[submodule "SelfZkContracts/contracts/lib/forge-std"]
	path = SelfZkContracts/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "SelfZkContracts/contracts/lib/openzeppelin-contracts"]
	path = SelfZkContracts/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
